body{
    background-color: rgb(26, 26, 26);
    font-family: sans-serif;
}
.container{
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0;
    margin:15% auto;
    border-radius: 10px;
}
label{
    display: flex;
    flex-direction: column;
}
input{
    width: 90%;
    height: 20px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}
h2{
    text-align: center;
}
select{
    width: 90%;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    display: block;
    color: white;
    background-color: #0e0d0d;
    text-align: center;
    width: 92%;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 15px;
}
a:hover{
    background-color: rgb(99, 96, 96);
    color: #000000;
    transition: all 1s;
}
